<div class="container">
    <br>
    <div class="bloco">
        <h1>
            Tecnologia
            <mat-icon>
                terminal
            </mat-icon>
        </h1>
        <p>Nosso time de especialistas apaixonados por tecnologia utiliza as últimas inovações em IA, Machine Learning, Cloud e Segurança para criar soluções sob medida para você. Priorizamos a excelência do cliente através de comunicação clara, parcerias estratégicas e suporte inigualável. Invista no futuro e transforme seus sonhos em realidade com a gente!</p>
    </div>
   
    <div class="bloco">
        <h1>Analise de dados <mat-icon>query_stats</mat-icon></h1>
        <p>Nossa equipe especializada extrai insights valiosos dos seus dados, impulsionando suas vendas. Relatórios e painéis visuais te guiam em decisões inteligentes, otimizando campanhas, definindo metas realistas e conquistando novos mercados. Aumente lucros, fidelize clientes, otimize processos e ganhe vantagem competitiva com dados. Invista no seu sucesso!</p>
    </div>
    <div class="bloco">
        <h1>Suporte 24 Horas <mat-icon>
            support_agent
            </mat-icon></h1>
        <p>Oferecemos suporte 24 horas por dia, 7 dias por semana, para te auxiliar com dúvidas e solucionar problemas de forma rápida e eficiente. Nossa equipe de especialistas está sempre pronta para te atender por telefone, chat ou e-mail. Além disso, você tem acesso a uma completa base de conhecimento com tutoriais, FAQs e soluções para problemas comuns. Com o nosso suporte ao cliente 24/7, você garante sua tranquilidade e alcança seus objetivos com mais facili</p>
    </div>
</div>

<div class="container2">
    <h1>Novas tecnologias</h1>
    <br>
    <div class="bloco2">
        <div class="imagemdireita">
            <img src="/assets/imagens/foto1.webp" alt="">
            <p>Imagem gerada com inteligencia artificial</p>
        </div>
    </div>
    <div class="bloco2">
        <p>Oferecemos soluções sob medida para o seu sucesso, combinando tecnologia de ponta, suporte impecável e análise de dados avançada para impulsionar suas vendas e levá-lo ao topo. Nossa abordagem inovadora garante que você tenha as ferramentas mais modernas e eficientes à sua disposição, permitindo otimização de processos e melhor tomada de decisões. Com um foco contínuo em proporcionar uma experiência de cliente superior e resultados tangíveis, nosso objetivo é transformar suas ambições em realidade. Entre em contato e construa o futuro dos seus sonhos com nossa expertise e dedicação inigualáveis.</p>
    </div>
</div>